html{
    font-size: 62.5%;
}
body{
    color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    
}

*, 
*::before, 
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-pokemon-png{
    width: 100%;
    height: 14.65vw;
    margin: 1.8vw 0;
    position: relative;
}

.pokemon-png{
    width: 50%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px rgb(0,0,0));
    position: relative;
    left: 3vw;
    z-index: 100;
}

.white-poke{
    width: 14.65vw;
    height: 14.65vw;
    object-fit: contain;
    position: absolute;
    left: 12vw;
    bottom: 0;
    animation: pokeMove 5s linear infinite;
}

@keyframes pokeMove{
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}

.name-pokemon-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(110deg,
    rgb(0, 0, 0) 66.7%,
    rgba(0,0,0,0) 66.7%);
    text-transform: capitalize;
    font-style: italic;
    filter: drop-shadow(5px 5px 5px rgb(0,0,0));
}

.name-pokemon{
    font-size: 1.8vw;
    color: whitesmoke;
    padding-right: 35%;
}

.n-of-number{
    font-size: 0.9vw;
    color: white;
    padding: 0.5rem;
}

.number-id{
    font-size: 1.5vw;
    color:rgba(196, 40, 53,1);
    padding-right: 1rem;
}

.pokemons-area-container{
    height: 100%;
    background: rgb(249,132,74);
    background: linear-gradient(110deg,
    rgb(230, 111, 52) 40%, 
    rgba(235, 100, 27, 1) 40%, 
    rgba(235, 100, 27, 1) 50%, 
    rgba(21, 20, 20, 1) 50%);
    padding-bottom: 3rem;
}

.pokemon-details-container{
    height: 100vh;
    background: rgb(249,132,74);
    background: linear-gradient(110deg,
    rgba(227, 49, 63,1) 40%, 
    rgba(196, 40, 53,1) 40%, 
    rgba(196, 40, 53,1) 50%, 
    rgba(206, 212, 218,1) 50%);
}

.nav-pokemonDetails-container{
    width: 100vw;
    height: 7.3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header-container{
    height: 7.3vw;
    display: flex;
    align-items: center;
    padding-top: 0.7vw;
}

.n-of-number-pass-button{
    font-size: 1.2vw;
    color: whitesmoke;
}

.btn-left-container{
    width: 40%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(135deg, 
    rgba(0,0,0,1) 75%, 
    rgba(255,255,255,0) 25%);
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 5px 5px rgb(0,0,0));
}

.pass-btn{
    background-color: rgba(0, 0, 0,0);
    width: 75%;
    height: 7.3vw;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    text-transform: capitalize;
    color: rgba(196, 40, 53,1);
    display: flex;
    align-items: center;
}

.btn-right-container{
    width: 40%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(225deg, 
    rgba(0,0,0,1) 75%, 
    rgba(255,255,255,0) 25%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    filter: drop-shadow(10px 10px 10px rgb(0,0,0));
}

.btn-zl-pass-container{
    width: 10%;
    margin-left: 1.5vw;
}

.btn-zr-pass-container{
    width: 10%;
    margin-right: 1.5vw;
}

.btn-pass-info-container{
    width: 90%;
}

.btn-info-id{
    font-size: 1.5vw;
    color: rgba(196, 40, 53,1);
    padding-left: 0.5rem;
}

.btn-left-right{
    background-color: rgba(196, 40, 53,1);
    border-radius: 50%;
    width: 2.8vw;
    height: 2.8vw;
    color: black;
    font-family: 'Fredoka One', cursive;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    filter: drop-shadow(0px 0px 8px #fff);
    padding: 1.5vw;
    border: 0.2rem solid whitesmoke;
}

.btn-left-right:hover{
    background-color: rgba(196, 40, 53,0.5);
}

.btn-name-pokemon{
    font-size: 2vw; 
    color: whitesmoke
}

.space-bar-btns{
    background-color: #545253;
    width: 100%;
    height: 4.4vw;
    position: absolute;
    filter: drop-shadow(0px 5px 5px rgb(0,0,0));
    z-index: 100;
}

.pokeball-btn{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, 
    rgba(255, 255, 255,1) 45%, rgba(0,0,0,1) 45%, 
    rgba(0,0,0,1) 50%, 
    rgba(0,0,0,1) 55%, 
    rgba(255,255,255,1) 55%);
    width: 8.8vw;
    height: 8.8vw;
    border: none;
    border-radius: 50%;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    box-shadow:  0px 0px 8px 3px rgba(0,0,0,0.71);
    transform: rotateZ(0deg);
    transition: 1.3s;
}

.pokeball-btn::after{
    content: '';
    background: whitesmoke;
    width: 3.7vw;
    height: 3.7vw;
    border-radius: 50%;
    border: solid 0.8vw black;
    position: absolute;
    right: 2.5vw;
    bottom: 2.5vw;
}

.pokeball-btn:hover{
    background: linear-gradient(180deg, 
    rgba(255,255,255,1) 45%, 
    rgba(0,0,0,1) 45%, 
    rgba(0,0,0,1) 50%, 
    rgba(0,0,0,1) 55%, 
    rgba(196, 40, 53,1) 55%);
    transform: rotateZ(180deg);
    transition: 1.3s;
}

.evolutions-container{
    width: 100%;
    height: 15vw;
    display: flex;
    align-items: center;
    list-style: none;
    filter: drop-shadow(15px 5px 20px rgb(0,0,0));
}

.name-evolution-pokemon-container{
    display: flex;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 700; 
    gap: 0.3rem;
}

.pokemon-base-container{
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
}

.pokemon-evolution-one-container{
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-evolution-two-container{
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 8%;
}

.n-of-number-evolutions{
    font-size: 0.8vw;
    color: whitesmoke;
}

.pokemon-evolution-id{
    font-size: 1.2vw;
    color: rgba(196, 40, 53,1);
}

.name-pokemon-evolution{
    font-size: 1.5vw; 
    color: whitesmoke;  
}

.evolutions-pokemon-png{
    width: 8vw;
    object-fit: contain;
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px rgb(0,0,0));
}

.items-left-pokemonDetail{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items-right-pokemonDetail{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.select-bio{
    background: rgb(248, 249, 250);
    background: linear-gradient(135deg,
    rgba(255, 255, 255,1) 70%,
    rgba(0,0,0,0) 70%); 
    margin-bottom: 2vw;
    padding: 0.75vw;
    border-radius: 0 2rem 2rem 0;
    width: 22vw;
    border: none;
    text-transform: capitalize;
    color: rgba(196, 40, 53,1);
    font-weight: bold;
    font-size: 1.5vw;
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px rgb(0,0,0));
    outline-style: none;
    position: relative;
    top: 0.45vw;
}

.text-bio-container{
    background: rgb(248, 249, 250);
    background: linear-gradient(110deg,
    rgb(255, 255, 255) 70%,
    rgba(0,0,0,0) 70%); 
    width: 100%;
    height: 9.5vw;
    display: flex;
    align-items: center;
    filter: drop-shadow(5px 5px 5px rgb(0,0,0));
}

.text-bio{
    width: 70%;
    padding: 1rem;
    font-size: 1.2vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
}

.descriptions-pokemon-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 41vh;
}

.base-points-container{
    display: flex;
    text-align: end;
    width: 100%;
    list-style: none;
}

.left-points-container{
    width: 30%;
}

.right-points-container{
    width: 70%;
}

.point-stat-name{
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 0.8vw;
    margin-top: 0.3vw;
    font-size: 1.2vw;
}

.percentage-point-detail{
    color: white;
    background: rgba(196, 40, 53,1);
    background: linear-gradient(110deg,
    rgba(196, 40, 53,1) 90%,
    rgba(0,0,0,0) 10%);
    margin-top: 0.3vw;
    filter: drop-shadow(5px 5px 5px rgb(0,0,0));
}

.stat-padding{
    padding-right: 12%;
    font-size: 1.2vw;
}

.movements-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.movements{
    background: rgb(248, 249, 250);
    background: linear-gradient(225deg,
    rgba(255, 255, 255,1) 70%,
    rgba(0,0,0,0) 70%); 
    margin-bottom: 2vw;
    padding: 0.75vw;
    width: 22vw;
    border: none;
    text-transform: capitalize;
    color: rgba(196, 40, 53,1);
    font-weight: bold;
    font-size: 1.5vw;
    text-align: end;
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px rgb(0,0,0));
    position: relative;
    top: 0.45vw;
}

.button-a{
    background-color: black;
    border-radius: 50%;
    padding: 0.1rem 0.6rem;
    color: whitesmoke;
    font-family: 'Fredoka One', cursive;
    margin-right: 1rem;
    filter: drop-shadow(1px 1px 1px rgb(0,0,0));
}

.button-a:hover{
    background-color: rgba(0, 0, 0, 0.541);
}

.select-moves{
    background: rgb(0, 0, 0);
    background: linear-gradient(325deg,
    rgba(0, 0, 0,1) 70%,
    rgba(0,0,0,0) 70%); 
    border-radius: 2rem 0 0 2rem;
    padding: 0.8vw;
    width: 22vw;
    border: none;
    text-transform: capitalize;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: end;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    filter: drop-shadow(5px 5px 5px rgb(0,0,0));
    outline-style: none;
}

.text-move-container{
    background: rgb(248, 249, 250);
    background: linear-gradient(260deg,
    rgb(255, 255, 255) 70%,
    rgba(0,0,0,0) 70%); 
    width: 100%;
    height: 9.5vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: end;
    margin-bottom: 3vw;
    filter: drop-shadow(5px 5px 5px rgb(0,0,0));
}

.text-move{
    width: 70%;
    padding: 0.8vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 1.2vw;
}

.power-container{
    width: 100%;
    display: flex;
    list-style: none;
}

.name-power{
    width: 18%;
    text-align: start;
    padding-left: 0.8vw;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2vw;
}

.percentage-power-container{
    width: 82%;
    display: flex;
    justify-content: flex-end;
    filter: drop-shadow(3px 3px 3px rgb(0,0,0));
    font-size: 1.2vw;
}

.percentage-power{
    color: white;
    background: rgba(196, 40, 53,1);
    background: linear-gradient(110deg,
    rgba(196, 40, 53,1) 90%,
    rgba(0,0,0,0) 10%);
    text-align: start;
    padding-right: 5%;
    padding-left: 10%;
}

.type-color-container{
    width: 100%;
}

.type-color{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    padding-right: 35%;
    filter: drop-shadow(3px 3px 3px rgb(0,0,0));
}

.type-color-moves-container{
    width: 100%;
    display: flex;
    list-style: none;;
    justify-content: flex-end;
    padding-right: 7%;
    filter: drop-shadow(3px 3px 3px rgb(0,0,0));
}

.type-per-color{
    width: 5.8vw;
    padding: 0.5rem;
    text-align: center;
    border-radius: 2vw;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 0.87vw;
    font-weight: 700;
}

.type-color-abilities-container{
    width: 100%;
    height: 4vw;
    display: flex;
    list-style: none;;
    justify-content: flex-end;
    align-items: center;
    padding-right: 7%;
    gap: 1rem;
}

.types-ability-normal-color{
    width: 7.3vw;
    background-color: #4F4F4F;
    padding: 1rem 0.5rem;
    text-align: center;
    border-radius: 2vw;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 0.9vw;
    font-weight: 700;
    filter: drop-shadow(3px 3px 3px rgb(0,0,0));
}

.types-ability-hidden-color{
    width: 7.3vw;
    background-color: #a27606;
    padding: 1rem 0.5rem;
    text-align: center;
    border-radius: 2vw;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 0.9vw;
    font-weight: 700;
    filter: drop-shadow(3px 3px 3px rgb(0,0,0));
}

.types-abilities{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2vw;
}

.habitat-content{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.weight-height{
    background-color: black;
    width: 7vw;
    margin: 1rem;
    padding: 0.5rem;
    position: relative;
    left: 7.3vw;
    border-radius: 2vw;
    color: whitesmoke;
    filter: drop-shadow(3px 3px 3px #000);
    text-align: center;
    font-size: 1.15vw;
}

.habitat-container{
    width: 36.5vw;
    height: 2.95vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(225deg,
    rgba(0, 0, 0,1) 50%,
    rgba(0,0,0,0) 50%); 
    color: whitesmoke;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
    filter: drop-shadow(5px 5px 5px rgb(0,0,0));
}

.padding-habitat{
    padding: 0 0.8vw;
    font-size: 1.2vw;
}

.habitat-color-span{
    color:rgba(196, 40, 53,1);
    text-transform: uppercase;
    padding-left: 1rem;
}

.items-cards-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.cards-container{
    width: 25%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.cards{
    background-repeat: no-repeat;
    border-radius: 1rem;
    width: 22rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  0px 0px 8px 3px rgba(0,0,0,0.71);
    border: solid 1px black;
}

.card_back{
    border-radius: 1rem;
    width: 22rem;
    height: 30rem;
    box-shadow:  0px 0px 8px 3px rgba(0,0,0,0.71);
    cursor: pointer;
}

.img-card-container{
    width: 20rem;
    height: 26rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 0.5rem 0.5rem;
    cursor: pointer;
}

.img-pokemon-card{
    width: 17rem;
    filter: drop-shadow(5px 5px 5px rgb(0,0,0));
}

.name-sym-content{
    width: 22rem;
    border-radius: 0.5rem 0.5rem 0 0;
    font-size: 1rem;
    display: flex;
}

.name-descrip{
    width: 55%;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 2rem 3rem 8rem 0;
    text-transform: capitalize;
    font-size: 1.8rem;
    padding-left: 1rem;
}

.num-sym{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: whitesmoke;
    font-size: 2.4rem;
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
}

.n-of-number-card{
    font-size: 1rem;
    font-weight: 400;
    padding-left: .5rem;
}

.type-symbol{
    width: 3rem;
    cursor: pointer;
}

.pokedex-logo-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    box-shadow: -2px 36px 22px -30px rgba(0,0,0,0.76);
}

.pokedex-logo{
    width: 50%;
    margin-bottom: 5rem;
    filter: drop-shadow(5px 5px 5px rgb(0,0,0));
}

.pokeball-mid{
    width: 20rem;
    cursor: pointer;
}

.pokeball-mid-bottom-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    box-shadow: -2px -36px 22px -30px rgba(0,0,0,0.76);
}

.search-container{
    width: 100%;
    background-color: #313131;
    height: 30rem;
    border-top: solid 0.5rem black;
    border-bottom: solid 0.5rem black;
    display: flex;
}

.search-pokemon-list-container{
    background-color: black;
    width: 100%;
    height: 15rem;
    overflow-y: scroll;
    list-style: none;
    border-radius: 0 0 0.5rem 0.5rem;
    position: absolute;
    top: 4rem;
}

.item-a{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bracket-close{
    width: 50%;
    margin: auto; 
    text-align: end; 
    padding-top: 2rem; 
    font-size: 2.5rem;
    color: rgba(196, 40, 53,1);
}

.bracket-close i{
    cursor: pointer;
}

.btn-minigame-container{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-minigame-container button{
    background-color: rgba(196, 40, 53,1);
    width: 60%;
    height: 4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    border: 0.3rem solid whitesmoke;
    color: whitesmoke;
    box-shadow:  0px 0px 8px 5px rgba(0,0,0,0.5);
}

.btn-minigame-container button:hover{
    transform: scale(1.03);
    transition: 1s;
    filter: drop-shadow(2px 2px 8px #ffff);
}

.item-b{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.form-container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 8px #000); 
}

.form-search-container{
    width: 60%;
    height: 4rem;
    position: relative;
    z-index: 10;
}

.input-search{
    width: 100%;
    height: 100%;
    background-color: rgba(196, 40, 53,1);
    border: solid whitesmoke;
    outline-style: none;
    color: black;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
}

.input-search::placeholder{
    color: whitesmoke;
    font-size: 1.6rem;
}

.symbol-container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.symbol-item{
    width: 16.666%;
    height: 16.666%;
}

.symbol-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    filter: drop-shadow(2px 2px 8px #000);
    transform: scale(1);
    transition: 1s;
}

.symbol-img:hover{
    transform: scale(1.03);
    transition: 1s;
    filter: drop-shadow(2px 2px 8px #ffff);
}

.pokemon-list-search{
    color: whitesmoke;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.pokemon-list-search:hover{
    background-color: #4F4F4F;
}

.btns-pagination-container{
    width: 100%;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.numbers{
    background-color: rgba(196, 40, 53,1); 
    border: none; 
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5vw;
    color: whitesmoke;
    filter: drop-shadow(2px 2px 8px #000);
}

.numbers:hover{
    background-color: rgba(196, 40, 53,0.5); 
}

.number-selected{
    background-color: whitesmoke;
    color: #222121;
}

.number-selected:hover{
    background-color: whitesmoke;
}

.btn-pass{
    background-color: rgba(0, 0, 0,1); 
    border: none; 
    width: 8vw;
    height: 3.5vw;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.5vw;
    color: whitesmoke;
    filter: drop-shadow(2px 2px 8px #000);  
}

.btn-pass:hover{
    background-color: #222121; 
}

/***********************************/

.user-input{
    width: 100%;
    height: 100vh;
}

.video-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.4);
}

.form-content{
    width: 30rem;
    height: 10rem;
    background-color: rgba(196, 40, 53,1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow:  0px 0px 8px 3px rgba(0,0,0,0.71);
}

.user-name-input{
    width: 80%;
    height: 5rem;
    outline-style: none;
    border-radius: .5rem 0 0 .5rem;
    border: none;
    padding: .5rem;
    margin-left: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.btn-name-submit{
    width: 20%;
    height: 5rem;
    margin-right: 2rem;
    border: none;
    border-radius: 0 .5rem .5rem 0;
    background-color: black;
    font-family: 'Fredoka One', cursive;
    color: whitesmoke;
    text-transform: uppercase;
    box-shadow:  0px 0px 8px 3px rgba(0,0,0,0.71);
    cursor: pointer;
}

.name-trainer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    color: whitesmoke;
    text-align: center;
}

.name-trainer{
    color: rgba(196, 40, 53,1);
    text-transform: capitalize;
}

.option-move{
    color: black;
}

/*****/

@media (max-width: 912px){

    .items-cards-container{
        width: 90%;
    }
    
    .cards-container{
        width: 33.333%;
    }

    .numbers-container{
        gap: 0.5rem;
    }

    .numbers{
        width: 6vw;
        height: 6vw;
        font-size: 3vw;
    }

    .btn-pass{
        width: 10vw;
        height: 6vw;
        font-size: 3vw;  
    }

    .header-container{
        height: 12vw;
        padding-top: 2rem;
    }

    .nav-pokemonDetails-container{
        height: 12vw;
    }

    .pass-btn{
        height: 12vw;
    }

    .pokeball-btn{
        width: 13vw;
        height: 13vw;
    }

    .pokeball-btn::after{
        width: 5.5vw;
        height: 5.5vw;
        border: solid 1.1vw #000;
        right: 3.5vw;
        bottom: 3.5vw;
    }

    .btn-left-right{
        width: 4vw;
        height: 4vw;
        font-size: 1.5vw;
    }

    .btn-zl-pass-container{
        margin-left: 2vw;
    }

    .btn-zr-pass-container{
        margin-right: 2vw;
    }

    .btn-name-pokemon{
        font-size: 2.5vw;
    }

    .space-bar-btns{
        height: 6vw;
    }

    .btn-info-id{
        font-size: 2vw;
    }

    .n-of-number-pass-button{
        font-size: 1.5vw;
    }
    
    .select-bio{
        width: 27vw;
        padding: 1.5vw;
        font-size: 2vw;
        top: 1.2vw;
    }

    .text-bio-container{
        height: 25vw;
    }

    .text-bio{
        font-size: 2.5vw;
    }

    .name-pokemon{
        font-size: 2.5vw;
    }

    .number-id{
        font-size: 2vw;
    }

    .n-of-number{
        font-size: 1.5vw;
    }

    .container-pokemon-png{
        height: 30vw;
    }

    .pokemon-png {
        width: 80%;
        left: -1.5vw;
    }

    .white-poke{
        width: 27vw;
        height: 27vw;
        left: 8vw;
    }

    .type-per-color{
        width: 10vw;
        font-size: 2vw;
    }

    .type-color{
        padding-right: 15%;
    }

    .movements{
        width: 27vw;
        padding: 1.5vw;
        font-size: 2vw;
        top: 1.2vw;
    }

    .habitat-container{
        width: 45vw;
        height: 4vw;
    }

    .padding-habitat{
        font-size: 1.4vw;
    }

    .weight-height{
        width: 10vw;
        font-size: 1.4vw;
    }

    .stat-padding{
        font-size: 1.6vw;
    }

    .point-stat-name{
        font-size: 1.6vw;
    }

    .left-points-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .evolutions-container{
        height: 30vw;
        position: relative;
        left: -4vw;
    }

    .evolutions-pokemon-png{
        width: 15vw;
    }

    .name-pokemon-evolution{
        font-size: 2vw;
    }

    .pokemon-evolution-id{
        font-size: 1.5vw;
    }

    .n-of-number-evolutions{
        font-size: 1.2vw;
    }

    .types-ability-normal-color{
        width: 12vw;
        font-size: 1.5vw;
    }

    .types-ability-hidden-color{
        width: 12vw;
        font-size: 1.5vw;
    }

    .types-abilities{
        font-size: 1.5vw;
    }

    .percentage-power-container{
        font-size: 2vw;
    }

    .name-power{
        font-size: 1.5vw;
        
    }

    .text-move-container{
        height: 25vw;
    }

    .text-move{
        font-size: 2.5vw;
        padding-right: 2vw;
    }

    .select-moves{
        width: 27vw;
        padding: 1.5vw;
        font-size: 2vw;
    }

    .card-content{
        width: 80%;
        height: 80%;
        margin-bottom: 25vw;
    }

    .pokeball-img{
        width: 15.5vw;
        height: 15.5vw
    }

    .card{
        width: 13vw;
        height: 13vw
    }

    .card-img{
        width: 13vw;
        height: 13vw
    }

    .bracket-close{
        width: 80%;
    }
}

@media (max-width: 540px){
    .cards-container{
        width: 50%;
    }

    .select-bio{
        width: 30vw;
    }

    .movements{
        width: 30vw;
    }

    .select-moves{
        width: 30vw;
    }
}

@media (max-width: 480px) {

    .btn-left-container{
        width: 38%;
        background-color: black;
        filter: none;
    }

    .btn-right-container{
        width: 38%;
        background-color: black;
        filter: none;
    }

    .cards-container{
        width: 100%;
    }

    .type-color{
        padding-right: 0;
    }

    .type-per-color{
        width: 15vw;
        font-size: 3vw;
    }

    .pokemon-png{
        padding: 0 16.5%;
    }

    .pokemon-png-padding{
        padding-right: 0;
    }

    .pokemon-details-container{
        height: 200vh;
    }

    .items-right-pokemonDetail{
        width: 100%;
    }

    .items-left-pokemonDetail{
        width: 100%;
    }

    .numbers{
        width: 6vw;
        height: 6vw;
        font-size: 3vw;
    }

    .btn-pass{
        width: 10vw;
        height: 6vw;
        font-size: 3vw;  
    }

    .form-search-container{
        width: 80%;
    }

    .input-search::placeholder{
        font-size: 1.6rem;
    }

    .btn-minigame-container button{
        width: 80%;
    }

    .header-container{    
        padding-top: 10vw;
        height: 13vh;
    }

    .nav-pokemonDetails-container{
        height: 13vh;
    }

    .pokeball-btn{
        width: 18vw;
        height: 18vw;
        margin-top: 0;
    }

    .pokeball-btn::after{
        right: 4.8vw;
        bottom: 4.8vw;
        width: 8vw;
        height: 8vw;
        border: solid 1.8vw #000;
    }

    .btn-name-pokemon{
        font-size: 4vw;
    }

    .btn-left-right{
        display: none;
    }

    .n-of-number-pass-button{
        font-size: 2.4vw;
    }

    .btn-info-id{
        font-size: 3vw;
    }

    .btn-zl-pass-container{
        display: none;
    }

    .btn-zr-pass-container{
        display: none;
    }

    .pass-btn{
        width: 100%;
        height: 13vh;
    }

    .select-bio{
        width: 45vw;
        height: 10vw;
        top: 7vh;
        font-size: 3.5vw;
        margin-bottom: 10vh;
    }

    .text-bio-container{
        height: 35vw;
    }

    .text-bio{
        font-size: 4vw;
    }

    .name-pokemon-container{
        width: 98vw;
        position: relative;
        top: -2.5vh;
    }

    .name-pokemon{
        font-size: 5vw;
    }

    .number-id{
        font-size: 4vw;
    }

    .n-of-number{
        font-size: 3vw;
    }
    
    .container-pokemon-png{
        height: 50vw;
        display: flex;
        justify-content: center;
    }

    .pokemon-png{
        width: 80%;
    }

    .white-poke{
        height: 40vw;
        width: 40vw;
        left: 34vw;
        top: 8vw;
    }

    .space-bar-btns{
        display: none;
    }

    .pokeball-btn-container{
        width: 24%;
        height: 13vh;
        background-color: #545253;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    .movements-container{
        position: relative;
        top: 7vh;
    }

    .movements{
        width: 45vw;
        height: 10vw;
        font-size: 3.5vw;
    }

    .habitat-content{
        position: relative;
        top: 5vh;
    }

    .habitat-container{
        width: 70vw;
        height: 5vh;
    }

    .padding-habitat{
        font-size: 2.8vw;
    }

    .weight-height{
        width: 15vw;
        font-size: 2.8vw;
        margin-right: 0.1rem;
    }

    .stat-padding{
        font-size: 3vw;
    }

    .point-stat-name{
        font-size: 3vw;
        margin-top: 1.5vw;
    }

    .base-points-container{
        position: relative;
        top: 10vh;
    }

    .left-points-container{
        width: 50%;
    }

    .right-points-container{
        width: 50%;
    }

    .evolutions-container{
        height: 20vh;
        position: relative;
        top: 20vh;
    }

    .evolutions-pokemon-png{
        width: 23vw;
    }

    .name-pokemon-evolution{
        font-size: 4vw;
    }

    .pokemon-evolution-id{
        font-size: 3vw;
    }

    .n-of-number-evolutions{
        font-size: 2vw;
    }

    .types-ability-normal-color{
        width: 20vw;
        font-size: 2.5vw;
    }

    .types-ability-hidden-color{
        width: 20vw;
        font-size: 2.5vw;
    }

    .types-abilities{
        font-size: 2.5vw;
    }

    .percentage-power-container{
        font-size: 3vw;
        position: relative;
        top: 10vh;
    }
    
    .name-power{
        font-size: 3vw;
        padding-left: 1rem;
        position: relative;
        top: 10vh;
    }

    .text-move-container{
        height: 35vw;
        position: relative;
        top: 10vh;
    }

    .text-move{
        font-size: 4vw;
        padding-right: 1rem;
    }

    .select-moves{
        bottom: -100vh;
        width: 45vw;
        height: 10vw;
        font-size: 3.5vw;
    }

    .type-color-abilities-container{
        position: relative;
        top: 10vh;
    }

    .type-color-moves-container{
        position: relative;
        top: 10vh;
    }

    .card-content{
        width: 80%;
        height: 80%;
        margin-bottom: 20vw;
    }

    .pokeball-img{
        width: 15.5vw;
        height: 15.5vw
    }

    .card{
        width: 13vw;
        height: 13vw
    }

    .card-img{
        width: 13vw;
        height: 13vw
    }

    .bracket-close{
        width: 80%;
    }
}